/* social-media class differentiates social media icons from list icons for greater customizability */
.social-media {
	padding: 0 .5em 0 .5em;
	display: inline;
}
ul {
	list-style-type:none; 
	padding: 0 0 0 .5em; 
}
